body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  	text-align: center;
}

figure {
  text-align: center;
}

nav {
  text-align: center;
  
}

nav a {
  background-color: gray;
  padding-left: 10px;
  padding-right: 10px
  
}

figcapture {
  font-size: 7pt;
}

 p  {
  text-align: center;
  width: 800px;
}

details {
  margin-top: 20px;
}

details div{
  display: block;
  text-align: center;
  background-color: blue
  width: 25%;

  
}